@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border whitespace-pre-wrap;
  }

  :root {
    --backgroud-color: rgb(235, 235, 238);
    --base-text-color: rgb(24 24 27);
    --border-color: rgb(212 212 216);

    &.dark {
      --backgroud-color: rgb(43, 43, 45);
      --base-text-color: rgb(255 255 255);
      --border-color: rgb(82 82 91);
    }
  }

  body {
    @apply m-0 bg-bg text-base-text;
  }

  // inline -> inline-block
  a,
  button,
  canvas,
  img,
  input,
  label,
  select,
  span,
  svg,
  textarea {
    @apply inline-block;
  }
}

@layer components {
}
